.experience_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  margin: 50px 0;

  > small {
    white-space: nowrap;
  }
}

.experience_details_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .experience_container {
    flex-direction: column;
    // justify-content: space-between;
    // min-height: 50px;
    // margin: 40px 0;
    text-align: center;

    > small {
      margin-top: 20px;
    }
  }

  .experience_details_container {
    margin-right: 0;
  }
}
