.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container p {
  color: black;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
}

.hero_container .developer {
  margin: 0 0 50px 0;
  font-size: 16vw;
  font-weight: 600;
  color: white;
  text-shadow: 20px 20px 30px rgba(175, 162, 162, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 2vw;
  text-align: center;
}

.about_me {
  margin: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.about_me h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
}

.about_me h3 {
  margin: 40px 0;
  color: #554d4d;
}

.about_me p {
  font-size: 1.5em;
  color: #554d4d;
  margin: 40px 0;
}

.brand-icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.brand-icon_container a {
  color: black;
}

.projects_section {
  margin: 50px 3%;
  padding: 2%;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.projects_section h2 {
  padding-bottom: 10px;
  margin-bottom: 50px;
  font-size: 3em;
  text-align: center;
}

.projects_section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.projects_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects_container p {
  color: black;
}

.project_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 48%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}

.project_container img {
  position: relative;
  border-radius: 4px;
}

.project_container h3 {
  font-weight: 600;
  text-align: center;
}

.project_container:hover img {
  -webkit-animation-name: darker;
          animation-name: darker;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  border-radius: 3px;
}

.project_container:hover .appbar {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 1;
}

.project_container:hover .appbar p {
  padding-top: 0;
  -webkit-animation-name: textAppear;
          animation-name: textAppear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1;
}

.project_container:hover .appbar h4 {
  padding-top: 0;
  -webkit-animation-name: textAppear;
          animation-name: textAppear;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.project_container:hover .appbar a {
  padding-top: 0;
  -webkit-animation-name: textAppear;
          animation-name: textAppear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.project_container:hover .project_details_arrow {
  margin-top: 2px;
  -webkit-animation-name: arrowDetails;
          animation-name: arrowDetails;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media only screen and (max-width: 768px) {
  .project_container {
    max-width: 100% !important;
  }
}

.appbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appbar h4 {
  font-size: 1.8em;
  color: white;
  margin: 20px 0;
  width: 60%;
}

.appbar p {
  color: #b1b5b9;
  margin: 0;
  font-size: 1em;
}

.appbar a {
  text-decoration: none;
}

.appbar a p {
  color: #b1b5b9;
}

.arrowAnimation {
  -webkit-animation-name: arrowCategoryRight;
          animation-name: arrowCategoryRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  margin-right: 25px;
  margin-left: 10px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.project_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.project_details_left {
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project_details_left .proiect_details_aside_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
}

.project_details_left .proiect_details_aside_container h1 {
  margin-top: 0;
}

.project_details_left .proiect_details_aside_container h3 {
  margin: 10px 0;
}

.project_details_left .proiect_details_aside_container p {
  margin: 5px 0;
}

.project_details_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.project_details_right h2 {
  text-align: center;
}

.project_details_right p {
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .developer {
    display: none;
  }
  .project_details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .project_details_left {
    width: 100% !important;
    text-align: center;
  }
  .project_details_right {
    width: 100% !important;
    text-align: center;
  }
  .hero_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes textAppear {
  from {
    opacity: 0;
    padding-top: 20px;
  }
  to {
    opacity: 1;
    padding-top: 1px;
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    padding-top: 20px;
  }
  to {
    opacity: 1;
    padding-top: 1px;
  }
}

@-webkit-keyframes arrowCategoryRight {
  0% {
    margin-right: 25px;
    margin-left: 10px;
  }
  50% {
    margin-right: 0px;
    margin-left: 35px;
  }
  100% {
    margin-right: 25px;
    margin-left: 10px;
  }
}

@keyframes arrowCategoryRight {
  0% {
    margin-right: 25px;
    margin-left: 10px;
  }
  50% {
    margin-right: 0px;
    margin-left: 35px;
  }
  100% {
    margin-right: 25px;
    margin-left: 10px;
  }
}

@-webkit-keyframes arrowDetails {
  0% {
    margin-left: 10px;
  }
  50% {
    margin-left: 25px;
  }
  100% {
    margin-left: 10px;
  }
}

@keyframes arrowDetails {
  0% {
    margin-left: 10px;
  }
  50% {
    margin-left: 25px;
  }
  100% {
    margin-left: 10px;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes darker {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  to {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: brightness(10%);
            filter: brightness(10%);
  }
}

@keyframes darker {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  to {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: brightness(10%);
            filter: brightness(10%);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
/*# sourceMappingURL=Home.css.map */